.u-section-1 .u-sheet-1 {
  min-height: 1146px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  width: 598px;
  font-weight: 700;
  margin: 50px auto 0;
}

.u-section-1 .u-image-1 {
  width: 394px;
  height: 394px;
  margin: 645px auto 0;
}

.u-section-1 .u-table-1 {
  margin-top: -965px;
  margin-bottom: 60px;
}

.u-block-ffd0-49 {
  background-image: none;
}

.u-section-1 .u-table-header-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 1.25rem;
  background-image: none;
}

.u-section-1 .u-table-cell-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0px;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-2 {
  background-image: none;
}

.u-section-1 .u-table-cell-3 {
  background-image: none;
}

.u-section-1 .u-table-cell-4 {
  background-image: none;
}

.u-section-1 .u-table-body-1 {
  line-height: 1.6;
  background-image: none;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-5 {
  background-image: none;
}

.u-section-1 .u-table-cell-6 {
  background-image: none;
}

.u-section-1 .u-table-cell-7 {
  background-image: none;
}

.u-section-1 .u-table-cell-8 {
  background-image: none;
}

.u-section-1 .u-table-cell-9 {
  background-image: none;
}

.u-section-1 .u-table-cell-10 {
  font-size: 2.25rem;
  font-weight: normal;
  background-image: none;
}

.u-section-1 .u-icon-1 {
  font-size: 1rem;
}

.u-section-1 .u-table-cell-11 {
  font-weight: 700;
  font-size: 2.25rem;
  background-image: none;
}

.u-section-1 .u-icon-2 {
  font-size: 1.1667em;
}

.u-section-1 .u-table-cell-12 {
  font-weight: 700;
  font-size: 2.25rem;
  background-image: none;
}

.u-section-1 .u-icon-3 {
  font-size: 1.1667em;
}

.u-section-1 .u-table-cell-13 {
  background-image: none;
}

.u-section-1 .u-table-cell-14 {
  font-size: 2.25rem;
  background-image: none;
}

.u-section-1 .u-table-cell-15 {
  font-size: 2.25rem;
  background-image: none;
}

.u-section-1 .u-table-cell-16 {
  background-image: none;
}

.u-section-1 .u-icon-6 {
  font-size: 2.1em;
}

.u-section-1 .u-table-cell-17 {
  font-weight: 400;
  background-image: none;
}

.u-section-1 .u-table-cell-18 {
  font-size: 2.25rem;
  line-height: 1;
  background-image: none;
}

.u-section-1 .u-table-cell-19 {
  font-size: 2.25rem;
  line-height: 1;
  background-image: none;
}

.u-section-1 .u-icon-8 {
  font-size: 1.1667em;
}

.u-section-1 .u-table-cell-20 {
  font-size: 2.25rem;
  line-height: 1;
  background-image: none;
}

.u-section-1 .u-icon-9 {
  font-size: 1.1667em;
}

.u-section-1 .u-table-cell-21 {
  background-image: none;
}

.u-section-1 .u-table-cell-22 {
  font-size: 2.25rem;
  line-height: 1;
  background-image: none;
}

.u-section-1 .u-icon-10 {
  font-size: 1.1667em;
}

.u-section-1 .u-table-cell-23 {
  font-size: 2.25rem;
  line-height: 1;
  background-image: none;
}

.u-section-1 .u-icon-11 {
  font-size: 1.1667em;
}

.u-section-1 .u-table-cell-24 {
  font-size: 2.25rem;
  line-height: 1;
  background-image: none;
}

.u-section-1 .u-icon-12 {
  font-size: 1.1667em;
}

.u-section-1 .u-table-cell-25 {
  font-weight: 700;
  font-size: 1.25rem;
  text-decoration: underline !important;
  background-image: none;
}

.u-section-1 .u-table-cell-26 {
  font-weight: 800;
  font-size: 2.25rem;
  background-image: none;
}

.u-section-1 .u-table-cell-27 {
  font-weight: 800;
  font-size: 2.25rem;
  background-image: none;
}

.u-section-1 .u-table-cell-28 {
  font-weight: 800;
  font-size: 2.25rem;
  background-image: none;
}

.u-section-1 .u-table-cell-29 {
  background-image: none;
}

.u-section-1 .u-table-cell-30 {
  background-image: none;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  background-image: none;
  font-size: 0.875rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
}

.u-section-1 .u-table-cell-31 {
  background-image: none;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.u-section-1 .u-table-cell-32 {
  background-image: none;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
}

.u-block-ffd0-35 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-table-1 {
    margin-top: 11px;
  }

  .u-section-1 .u-icon-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-top: 79px;
  }

  .u-section-1 .u-table-1 {
    margin-top: -166px;
    margin-bottom: 56px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
    font-size: 3rem;
    margin-top: 360px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 39px;
  }

  .u-section-1 .u-table-1 {
    margin-top: -126px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-table-cell-10 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-table-cell-11 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-table-cell-12 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1227px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: 943px;
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-table-1 {
    margin-top: -986px;
  }

  .u-section-1 .u-table-cell-10 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-icon-1 {
    font-size: 1.5em;
  }

  .u-section-1 .u-table-cell-11 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-icon-2 {
    font-size: 1.75em;
  }

  .u-section-1 .u-table-cell-12 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-icon-3 {
    font-size: 1.75em;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}